header{
    width: 100%;
    background-color: #fff;
    height: 70px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.226);
    
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar-list{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    width: 45%;
    margin-top: 10px;
    padding: 0;
}
.nav-bar-divider{
    background-color: rgba(153, 153, 153, 0.829);
    width: 1px;
    height: 40px;
}
.nav-bar-link a{
    position: relative;
    text-decoration: none;
}
.user-name{
  color:rgba(98, 96, 96, 0.904);
  font-weight: bold;
}
.avatar{
    border-radius: 60px;
    width: 55px;
    margin-left: 5px;
}
.nav-bar-link a i{
    color:rgba(189, 189, 189, 0.603); ;
    position: relative;

}
.nav-bar-link a i:hover{
color:  rgba(51, 51, 51, 0.685);
transition: all .4s linear;
}
.nav-bar-link a i span{
position: absolute;
bottom:8px;
left: 9px;
color: #fff;
background-color: rgba(248, 61, 28, 0.842);
border-radius: 4px;
text-align: center;
height: 13px;
font-size: 10px;
padding: 0 3px 0px 3px;
display: flex;
justify-content: center;
align-items: center;
}

.nav-bar button{
border: none;
background-color: rgba(255, 255, 255, 0);
margin-left: 15px;
font-size: 25px;
color: rgba(53, 53, 53, 0.945);
display:block
}
@media only screen and (max-width: 600px) {
      .nav-bar label{
        display: block;
    
        margin-bottom: 15px;
    }
    .nav-bar div.suport{
        display: none;
    }
 .nav-bar-list{
    width: 100%;
 }   
.avatar{
    width: 40px;
}
}