footer{
    width: 100%;
    background-color: #fff;
    height: 5vh;
    display: flex;
    justify-content: center;
   
}

.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}